html,
body,
#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Footer */
a {
  color: inherit;
}
a i:hover {
  color: #f2f2f2;
}

footer {
  height: 40px;
  padding: 10px;
  font-size: 14px;
  border-top: 1px solid #cccccc;
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 40px;
  }
}
